aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
Authlib
babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
blis
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chatur-chains
Chroma
chroma-hnswlib
chromadb
click
cloudpathlib
coloredlogs
comm
confection
cryptography
cymem
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distro
docx2txt
emoji
et-xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
filelock
filetype
Flask
flatbuffers
fqdn
frozenlist
fsspec
google-auth
googleapis-common-protos
gpt4all
grpcio
grpcio-health-checking
grpcio-tools
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-weaviate
langchainhub
langcodes
langdetect
langserve
langsmith
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
murmurhash
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook_shim
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
pluggy
posthog
preshed
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure_eval
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyMuPDF
pypdf
PyPika
pyproject_hooks
pytest
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-magic
python-pptx
pytz
PyYAML
pyzmq
rapidfuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
simsimd
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
sse-starlette
stack-data
starlette
sympy
tabulate
tenacity
terminado
thinc
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
types-requests
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
uri-template
urllib3
uvicorn
uvloop
validators
wasabi
watchfiles
wcwidth
weasel
weaviate-client
webcolors
webdavclient3
webencodings
websocket-client
websockets
Werkzeug
wrapt
xlrd
XlsxWriter
yarl
zipp
gunicorn
